.header__btn {
  @include button(1.3rem, 1.5rem, 10px, 10px, 100%, 220px, $white-color); text-align:center;
  border-radius: 2.4rem;
  font-weight: 700;
  color: $dark-green-color;
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.10);
}

.hero__btn {
  @include button(1.7rem, 2rem, 10px, 10px, 100%, 300px, $pink-color); text-align:center;
  border-radius: 2.8rem;
  font-weight: 700;
  color: $white-color;
  box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.17);
}

.features__btn {
  @include button(1.5rem, 2.5rem, 10px, 10px, 100%, 420px, $pink-color); text-align:center;
  border-radius: 4rem;
  font-weight: 700;
  color: $white-color;
  filter: drop-shadow(0px 6px 13px rgba(0, 37, 46, 0.22));
}

